/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
}

img, picture, video, canvas, svg {
  /*display: block;*/
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/*        End of reset-------*/


body{
    display: flex;
}


.side-panel{
    min-width: 400px;
    background-color: #D3D3D3;
    min-height: 100vh;
}

h1{
    font-family: "Google Sans", sans-serif;
    font-size: 3rem;
    padding: 20px 10px;
}

#selection-btns-container{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#selection-btns-container button{
    border: none;
    border-radius: 10px;
    height: 80px;
}

#selection-btns-container div{
    font-weight: 800;
    font-size: 1.8rem;
    text-align: right;
    padding-right: 10px;
    color: #4C4C4C;
}

#selection-btns-container p{
    font-weight: 800;
    font-size: 1.3rem;
    text-align: left;
    padding-left: 10px;
    color: #4C4C4C;
}

#myLists-header{
padding: 15px 15px;
padding-bottom: 5px;
padding-top: 35px;
font-weight: 600;
font-size: 1.3rem;
color: #4C4C4C;
display: flex;
justify-content: space-between;
}

#myLists-header button{
    background-color: inherit;
    border-radius: 10px;
    border-color: #faf4f4;
    border: none;
}

#myLists-header button:active{
    transform: translateY(2px);
}


.list{
    padding: 5px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    color: #6a6363;
    font-size: 1.1rem;
    border-radius: 10px;
}

.list:hover{
    background-color: #7d9eeb;
    color: white;
}

.main{
    flex-grow: 1;
    font-size: 3rem;
    
    font-size: 3rem;
    font-weight: 500;
}

.main-header{
    display: flex;
    justify-content: space-between;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    color: #4170dd;
    min-width: 80px;
    padding: 20px 30px;
}

.task{
    display: flex;
    border-radius: 10px;
    border: 1px solid #6a6363;
    padding: 5px 10px;
    gap: 10px;
    align-items: center;
}

.task-container{
    margin-top: 0px;
    display: grid;
    gap: 5px;
    padding: 5px 20px;
}

.title-desc-container{
    display: grid;
    font-size: 0.9rem;
}

.title-desc-container #title{
    font-size: 1.2rem;
}

input[type="radio"]{
    height: 1.5rem;
    width: 1.5rem;
}

.dueDate{
    margin-left: auto;
    font-size: 1rem;
    color: red;
}

#btn-container{
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    background-color: #F5F5F5;
    padding: 10px;
}


#btn-container button{
    font-size: 1.2rem;
    background-color: inherit;
    border: none;
    margin-right: 15px;
    color:#4C4C4C
}

#btn-container button:active{
    transform: translateY(2px);
}

.task:hover{
    transform: scale(1.01);
}

#all:hover{
    background-color: rgb(189, 185, 185);
    
}

#today:hover{
    background-color: #b4c5ec
    
}

#completed:hover{
    background-color: #b4efb3
    
}

#myLists-container{
    padding: 0px 10px;
}

dialog{
    width: 300px;
    border-radius: 10px;
    padding: 10px;
}

dialog h3{
    text-align: center;
}

form{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-shrink: 1;
    font-size: 0.9rem;
    font-weight: 600;
}

.form-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.form-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 10px;
}

.form-btn button{
    border-radius: 5px;
    padding: 2px 5px;
    font-weight: 800;
}

label{
    min-width: 90px;
    padding-left: 5px;
}

input{
    padding: 2px;
    border-radius: 5px;
}

.radio-grp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.radio-grp input[type="radio"]{
    height: 1rem;
    width: 1rem;
}

.completed{
    text-decoration: line-through;
}

.emptymsg{
    text-align: center;
    font-size: 1.5rem;
    color: #4C4C4C;
    margin-top: 200px;
}

